.heart svg {
    height: 25px;
    width: 25px;
    margin-top: 11px;
    margin-left: 108px;
}

.cart svg {
    height: 25px;
    width: 25px;
    margin-top: 11px;

}

.add svg {
    height: 25px;
    width: 25px;
    margin-left: 130px;
}

.left svg {
    margin-left: 19px;
    height: 29px;
    width: 16px;
    margin-top: 1px;
}

.right svg {
    margin-left: 19px;
    height: 29px;
    width: 16px;
    margin-top: 1px;
}

/* #wish::-webkit-scrollbar{
display: none;
} */

@media (max-width: 639px) {
    .leftButton {
        height: 30px;
        width: 30px;
        margin-left: 8px;
        margin-top: 218px;
    }

    .rightButton {
        height: 30px;
        width: 30px;
    }

    .card {
        height: 300px;
        width: 280px;
        margin-left: -1px;
    }

    .holder {
        margin-top: 170px;
        margin-left: 4px;
        display: flex;
        margin-bottom:73px;
    }

    .image {
        height: 120px;
        margin-top: -40px;
        width: 100px;
        margin-left: 80px;
    }

    .details {
        margin-top: -40px;
    }

    .addButton {
        margin-top: -20px;
        margin-left: 110px;
    }

    .left svg {
        margin-left: 7px;
        height: 15px;
        width: 15px;
    }

    .right svg {
        margin-left: 7px;
        height: 15px;
        width: 15px;
    }

    .loginForm{
        text-align: left;
    }
}